/.vs
/Project_Server/x64
/Project_Server/.vs
/Project_Server/v15
/Project_Client/x64
/Project_Client/.vs
/Project_Server/v15
*.exe
*.ilk
*.pdb
*.obj
*.log
*.pch
*.idb
*.tlog
*.lastbuildstate
*.suo
*.db
*.ipch
*.iobj
*.ipdb
